# {{ ansible_managed }}

{% if nginx_distribution == 'stable' %}

{% if ansible_distribution == 'Debian' %}

deb http://nginx.org/packages/debian/ {{ansible_lsb.codename}} nginx
deb-src http://nginx.org/packages/debian/ {{ansible_lsb.codename}} nginx

{% endif %}

{% if ansible_distribution == 'Ubuntu' %}

deb http://nginx.org/packages/ubuntu/ {{ansible_lsb.codename}} nginx
deb-src http://nginx.org/packages/ubuntu/ {{ansible_lsb.codename}} nginx

{% endif %}

{% else %}

{% if ansible_distribution == 'Debian' %}

deb http://nginx.org/packages/mainline/ubuntu/ xenial nginx
deb-src http://nginx.org/packages/mainline/ubuntu/ xenial nginx

{% endif %}

{% if ansible_distribution == 'Ubuntu' %}

deb http://nginx.org/packages/mainline/ubuntu/ xenial nginx
deb-src http://nginx.org/packages/mainline/ubuntu/ xenial nginx

{% endif %}

{% endif %}
