# {{ ansible_managed }}

# user user [group] - if no group nginx uses the same name as user
user {{ nginx_user }} {{ nginx_group }};

worker_processes {{ nginx_worker_processes }};

# Maximum file descriptors that can be opened per process
# This should be > worker_connections
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
    worker_connections {{ nginx_worker_connections }};
    use epoll;
    multi_accept {{ nginx_multi_accept }};
}

# Change these paths to somewhere that suits you!
# [ debug | info | notice | warn | error | crit ]
error_log {{ nginx_error_log }};
pid {{ nginx_pid }};

http {

    # Hide nginx version
    server_tokens off;

    # Define the MIME types for files.
    include {{ nginx_mime_file_path }};
    default_type application/octet-stream;

    # Update charset_types due to updated mime.types
    charset_types text/css text/plain text/vnd.wap.wml application/javascript application/json application/rss+xml application/xml;

    # Include $http_x_forwarded_for within default format used in log files
    log_format  main '$remote_addr - $remote_user [$time_local] "$request" '
                         '$status $body_bytes_sent "$http_referer" '
                         '"$http_user_agent" "$http_x_forwarded_for" '
                         '"$host" sn="$server_name" '
                         'rt=$request_time '
                         'ua="$upstream_addr" us="$upstream_status" '
                         'ut="$upstream_response_time" ul="$upstream_response_length" '
                         'cs=$upstream_cache_status' ;

    # Log access to this file
    # This is only used when you don't override it on a server{} level
    access_log {{ nginx_access_log }};

    client_max_body_size {{ nginx_client_max_body_size }};
    client_body_buffer_size {{ nginx_client_body_buffer_size }};
    types_hash_max_size {{ nginx_types_hash_max_size }};
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

    # How long to allow each connection to stay idle.
    # Longer values are better for each individual client, particularly for SSL,
    # but means that worker connections are tied up longer.
    keepalive_timeout {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};

    # You usually want to serve static files with Nginx
    sendfile {{ nginx_sendfile }};

    # Tell Nginx not to send out partial frames; this increases throughput
    # since TCP frames are filled up before being sent out. (adds TCP_CORK)
    tcp_nopush      {{ nginx_tcp_nopush }};
    tcp_nodelay     {{ nginx_tcp_nodelay }};

    {% if nginx_open_file_cache_enable %}
    open_file_cache max=1000 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 5;
    open_file_cache_errors off;
    {% endif %}

    # Compression
    gzip on;
    gzip_comp_level    5;
    gzip_min_length    256;
    gzip_proxied       any;
    gzip_vary          on;
    gzip_types
        application/atom+xml
        application/javascript
        application/json
        application/ld+json
        application/manifest+json
        application/rss+xml
        application/vnd.geo+json
        application/vnd.ms-fontobject
        application/x-font-ttf
        application/x-web-app-manifest+json
        application/xhtml+xml
        application/xml
        font/opentype
        image/bmp
        image/svg+xml
        image/x-icon
        text/cache-manifest
        text/css
        text/plain
        text/vcard
        text/vnd.rim.location.xloc
        text/vtt
        text/x-component
        text/x-cross-domain-policy;
    # text/html is always compressed by HttpGzipModule

    {% if nginx_cloudflare_ips_conf %}
    include {{ nginx_cloudflare_ips_conf }};
    {% endif %}

    include /etc/nginx/conf.d/servers/*.conf;
    # server {
    #     listen       80;
    #
    #     location = /sub {
    #         nchan_subscriber;
    #         nchan_channel_id foobar;
    #     }
    #
    #     location = /pub {
    #         nchan_publisher;
    #         nchan_channel_id foobar;
    #     }
    # }
    # server {
    # 	listen 80 default_server;
    # 	listen [::]:80 default_server;
    #
    # 	root /var/www/html;
    #
    # 	index index.html index.htm index.nginx-debian.html;
    #
    # 	server_name _;
    #
    # 	location / {
    # 		try_files $uri $uri/ =404;
    # 	}
    # }

}
